<%- include('header.ejs')%>
<%# this comment   include('file.ejs')%>

<h1>welcome to home page</h1>
<ul>
    <% prd.forEach(p=>{ %>
        <li>output using it <%= p.id %></li>
        <li><%= p.pname %></li>
        <% }) %>
</ul>